<h2  style="text-align:center">List of Favorite Books </h2>
<div *ngFor="let book of books" class="group">   
  <table class="table table-striped">  
      <thead class="thead-dark">  
        <tr>  
          <th>ISBN</th>  
          <th>Title</th>  
          <th>Author</th>          
          <th>Publisher</th>    
          <th>Language</th>   
          <th>Favorite</th>               
        </tr>  
      </thead>  
      <tbody>  
          <tr *ngFor="let book of books | async "> 
          <td>{{book.id}}</td>  
          <td>{{book.title}}</td>  
          <td>{{book.author}}</td>  
          <td>{{book.publisher}}</td>   
          <td>{{book.language}}</td>           
          <td><a href="_blank" (onclick)="RemoveFavorite(book)" >Remove Favorite</a></td>           
        </tr>  
      </tbody>  
      <ul class="pagination">  
          <pagination-controls ></pagination-controls>  
      </ul> 
  </table>  
  
</div>
